.Continents__img {
  background-color: rgb(228, 89, 146);
  width: 100%;
  height: auto;
  animation: fadeIn 5s;
  -webkit-animation: fadein 5s;
  -moz-animation: fadein 5s;
  -o-animation: fadein 5s;
  -ms-animation: fadein 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

a:link,
a:visited {
  font-size: 3rem;
  color: #fff;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

.Continents__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 30rem));
  grid-template-rows: repeat(4, 20rem);
  justify-content: center;
  list-style: none;
}

.Continents__list_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: rgb(224, 84, 130);
}

.Continents__list_items > :last-child {
  font-size: 3rem;
}

.Continents__list_items:nth-child(3n),
.Continents__list_items:nth-child(2),
.Continents__list_items:nth-child(7) {
  background-color: rgb(208, 77, 119);
}

.Continents__list_items_name {
  font-weight: bold;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
